{% extends "base.html" %}
{% block content %}


<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <style>
        body {
          
            background-image: url('/static/blurredgym.png'); /* Background image */
            /* OR */
            
        }
    </style>
  </head>
  



<div class="chat-container"><br>
    <textarea class="chat" rows="220" cols="170" readonly>
    Hi there!
    I'm your personal AI Health Coach Dave. 
    How may I help you today?
    </textarea>
    <div class="user-input"><br>
        <form action="/send" method="post" onsubmit="submitForm(); return false;">
            <input type="text" name="user-message" id="user-message" placeholder="Type your message here" class="italic-placeholder" rows="2"><br><br>
            <button type="submit" id="send-button" class="styled-button">Send</button>
        </form>
    </div>
</div>


<script>
    async function submitForm() {
        const userMessage = document.getElementById("user-message").value;


        // Display user message in the chat textarea
        const chatTextarea = document.querySelector(".chat");
        chatTextarea.value += `\nDave: Coach is thinking...`;  // Added this line

        // console.log(`User Message: ${userMessage}`);


        try {
    // Send the user message to your Flask API
            const response = await fetch("/send", {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
        },
    body: JSON.stringify({ "user_message": userMessage }) // Use underscores here
    });

    if (response.ok) {
    const data = await response.json(); // Parse the JSON response

    // Extract and display only the bot's response text
    const botResponseText = data.bot_response;

    // Display bot's response in the chat textarea
            chatTextarea.value = chatTextarea.value.replace("Dave: Coach is thinking...", `Dave: ${botResponseText}`);  // Modified this line
    } else {
        // Handle error here, e.g., display an error message
        chatTextarea.value += "\nCoach: Error fetching data";
    }
} catch (error) {
    // Handle network or other errors here
    console.error("Error:", error);
    chatTextarea.value += "\nCoach: An error occurred";
}

        // Clear the user input field
        document.getElementById("user-message").value = "";

        // Prevent form submission
        return false;
    }
</script>









{% endblock %}